<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  <div align="center">
    <h1>Create new product</h1>
    <form action="#" th:action="@{/save}" th:object="${product}" method="post">
        <p>
          <label for="id">Product id:</label>
          <input type="text" th:field="*{id}"
        </p>
        <p>
          <label for="name">Product name:</label>
          <input type="text" th:field="*{name}"
        </p>
        <p>
          <label for="brand">Brand:</label>
          <input type="text" th:field="*{brand}"
        </p>
        <p>
          <label for="madein">Made in:</label>
          <input type="text" th:field="*{madein}"
        </p>
        <p>
          <label for="price">Product name:</label>
          <input type="text" th:field="*{price}"
        </p>
        <p><button type="submit">save</button></p>
    </form>
  </div>
</body>
</html>